<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Wojciechowski</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
    <section class="wrapper">
        <section class="wrapper__leftbar">
            <header class="wrapper__leftbar__header">
                <section class="wrapper__leftbar__header__top">
                    <a class="wrapper__leftbar__header__top__title" href="/">Roman Wojciechowski</a>
                    <ul class="wrapper__leftbar__header__top__github">
                        <li><a href="https://github.com/romanwojciechowski">github</a></li>
                    </ul>
                </section>

                <ul class="wrapper__leftbar__navigation">
                    <li><a href="/email">email</a></li>
                    <li><a href="/biblioteka">biblioteka</a></li>
                    <li><a href="/zdjecia">zdjęcia</a></li>
                    <li><a href="https://blog.romanwojciechowski.xyz">blog</a></li>       
                </ul>
    
            </header>

            <footer class="wrapper__leftbar__footer">
            <a href="https://romanwojciechowski.netlify.app">Roman Wojciechowski</a>, 2020
            </footer>
        </section><!--/.leftbar-->

        <section class="wrapper__rightbar">
            <container class="wrapper__rightbar__main">
                <h1 class="wrapper__rightbar__main__title">{{title}}</h1>

                <div class="wrapper__rightbar__main__location__box">
                    <div class="wrappper__rightbar__main__location__box__location">Location: </div>
                    <div class="wrapper__rightbar__main__location__box__container">~/{{title}}</div>
                </div>

                <div class="wrapper__rightbar__main__content">
                    {{content | safe}}
                </div>
            </container><!--/.rightbar__main-->
        </section><!--/.rightbar-->
    </section><!--/.wrapper-->
</body>
</html>