<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Wojciechowski</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;700;900&display=swap" rel="stylesheet"> 
</head>
<body>
    <container class="wrapper">
        <section class="wrapper__leftbar">
            <header class="wrapper__leftbar__header">
                <a class="wrapper__leftbar__header__title" href="/">Roman Wojciechowski</a>
                <ul class="wrapper__leftbar__header__language">
                    <li><a href="">PL</a></li>
                    <li><a href="">EN</a></li> 
                </ul>
            </header>

            <ul class="wrapper__leftbar__navigation">
                <li><a href="/email">email</a></li>
                <li><a href="/biblioteka">biblioteka</a></li>
                <li><a href="/zdjecia">zdjęcia</a></li>
                <li><a href="https://github.com/romanwojciechowski">github</a></li>
                <li><a href="https://blog.romanwojciechowski.xyz">blog</a></li>       
            </ul>

            <footer class="wrapper__leftbar__footer">
            <a href="https://romanwojciechowski.netlify.app">Roman Wojciechowski</a>, 2020
            </footer>
        </section>

        <section class="wrapper__rightbar">
            <container class="wrapper__rightbar__main">
                <div class="wrapper__rightbar__main__buttons"></div>

                <div class="wrappper__rightbar__main__location">
                Location: <div class="wrapper__rightbar__main__location__box">{{location}}</div>
                </div>
                <div class"wrapper__rightbar__main__content">
                    {{content | safe}}
                </div>
            </container>
        </section>
    </container>
</body>
</html>