body, *{
    margin: 0;
    padding: 0;
    font-family: 'Lato', serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
  
ul {
  list-style: none;
}

/*Tables*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  font-size: 15px;
}

table caption {
  color: #000;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  margin: 0;
  padding: 0.5em 1em; 
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

table td {
  background-color: transparent;
}

/*Tables end*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "left right right right" "left right right right" "left right right right"; 
}

.wrapper__leftbar {
  grid-area: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 0 10px 25px;
  min-height: 100vh;
}

.wrapper__leftbar__header {
  display: flex;
  flex-direction: column;
}

.wrapper__leftbar__header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.wrapper__leftbar__header__top__title {
  font-weight: 900;
  font-size: 1.6em;
}

.wrapper__leftbar__header__top__language {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.wrapper__leftbar__navigation li:nth-last-child(3) {
  margin-bottom: 30px;
}

.wrapper__leftbar__navigation li a {
  font-weight: 600;
}

.wrapper__leftbar__navigation li a:hover {
  color: rgb(90, 90, 90);
}

.wrapper__leftbar__footer {
  color: rgb(90, 90, 90);
  font-size: 14px;
  font-weight: 300;
}

.wrapper__leftbar__footer a{
  color: rgb(90, 90, 90);
}

.wrapper__leftbar__footer a:hover {
  color: #000;
}

.wrapper__rightbar {
  grid-area: right;
  display: flex;
  align-items: center;
}

.wrapper__rightbar__main {
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  width: 50rem;
  padding: 100px 0 100px 30px;
  border-radius: 3px;
  
}

.wrapper__rightbar__main__title {
  position: relative;
  top: -40px;
  font-size: 24px;
  margin: 0;
}

.wrapper__rightbar__main__buttons {
  position: relative;
  align-self: flex-end;
  top: -60px;
  right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #C4C4C4;
}

.wrapper__rightbar__main__buttons::before, .wrapper__rightbar__main__buttons::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #C4C4C4;
}

.wrapper__rightbar__main__buttons::before {
  right: -15px;
}

.wrapper__rightbar__main__buttons::after {
  left: -15px;
}

.wrapper__rightbar__main__location__box {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.wrapper__rightbar__main__location__box__container {
  margin-left: 10px;
  padding: 2px;
  min-width: 170px;
  border-radius: 2px;
  height: 24px;
  background-color: #C4C4C4;
  font-size: 15px;
  font-weight: 300;
}